services:
    http-api-gateway:
      build: ./http-api-gateway
      ports:
        - "3000:3000"
      env_file:
        - .env
      command: npm run start:prod
      environment:
        - PORT=3000
      networks: 
        - backend
      depends_on:
        - nats

    users_microservice:
      build: ./users-microservice
      env_file:
        - .env
      command: npm run start:prod
      networks: 
        - backend
      depends_on:
        - nats
        - mysql_db

    cases_microservice:
      build: ./cases-microservice
      env_file:
        - .env
      command: npm run start:prod
      networks: 
        - backend
      depends_on:
        - nats
        - mysql_db

    email_microservice:
      build: ./email-microservice
      env_file:
        - .env
      command: npm run start:prod
      networks: 
        - backend
      

    tasks_microservice:
      build: ./tasks-microservice
      env_file:
        - .env
      command: npm run start:prod
      networks: 
        - backend
      depends_on:
        - nats
        - mysql_db

    visitors_microservice:
      build: ./visitors-microservice
      env_file:
        - .env
      command: npm run start:prod
      networks: 
        - backend
      depends_on:
        - nats
        - mysql_db

    nats:
      image: nats
      ports:
        - "4222:4222"
      networks: 
        - backend

    mysql_db:
      image: mysql
      ports: 
        - "3306:3306"
      environment:
        - MYSQL_ROOT_PASSWORD=Levis1234
        - MYSQL_DATABASE=lawfirm_management
        - MYSQL_USER=superAdmin
        - MYSQL_PASSWORD=superAdmin67854
        - MYSQL_TCP_PORT=3306
      volumes:
        - mysql_data:/var/lib/mysql
        - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      networks: 
        - backend

networks:
  backend: {}

volumes:
  mysql_data: